@mixin font-face($font-family, $font-weight, $font-style, $font-src) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    font-display: swap;
    src: $font-src;
  }
}

@mixin font-titles($font-size: 36px, $line-height: 1) {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: $font-size;
  line-height: $line-height;
}

@mixin button() {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: $basic-white;
  border: none;
  background-color: $basic-green;
  cursor: pointer;
  transition: opacity 0.3s;

  @include font-titles(16px, 1.25);
}

@mixin delete-list-style() {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 400;
}
