/* здесь используйте глобальные переменные */

// Цвета
$basic-white: #ffffff;
$basic-black: #000000;
$basic-green: #68b738;
$basic-grey: #f2f2f2;
$subtitles-color: #222222;
$text-color: #444444;
$decorated-light-grey: #e6e6e6;

// Размеры вьюпортов
$tablet-width: 768px;
$desktop-width: 1440px;

// Шрифты
$primary-font: "Lato", "Arial", sans-serif;
$secondary-font: "Oswald", "Arial", sans-serif;
