/* здесь используйте глобальные переменные */

// Цвета
$basiс-white: #ffffff;
$basiс-black: #000000;
$basic-green: #68b738;
$special-grey: #f2f2f2;
$subtitles-color: #222222;
$text-color: #444444;


// Размеры вьюпортов
$tablet-width: 768px;
$desktop-width: 1440px;
