.application__title {
  margin: 0;
  line-height: 1.11;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 32px;
  }
}

.application__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 230px);
    gap: 153px 37px;
    margin-bottom: 47px;
  }
}

.application__item {
  display: grid;
  grid-template-columns: 60px 1fr;
  gap: 20px;
  position: relative;
  align-items: center;
  counter-increment: item-number 1;

  &::after {
    content: none;

    @media (min-width: $tablet-width) {
      content: counter(item-number);
      position: absolute;
      right: 0;
      top: 0;
      font-family: $secondary-font;
      font-size: 280px;
      color: $basic-grey;
    }
  }
}

.application__picture {
  position: relative;
  width: 60px;
  height: 60px;
  background-color: $basic-green;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.application__item--nutritionally .application__picture::after {
  width: 30px;
  height: 32px;
  background-image: url("../../icons/leaf.svg");
}

.application__item--easy .application__picture::after {
  width: 26px;
  height: 29px;
  background-image: url("../../icons/powder.svg");
}

.application__item--replaceable .application__picture::after {
  width: 25px;
  height: 30px;
  background-image: url("../../icons/fork_knife.svg");
}

.application__item--effectively .application__picture::after {
  width: 26px;
  height: 31px;
  background-image: url("../../icons/clock.svg");
}

.application__info {
  margin: 0;
  font-size: 14px;
  line-height: 1.29;
  color: $text-color;
}
