.card-addition {
  display: grid;
  grid-template-columns: 1fr;
  padding: 13px 0 19px;
}

.card-addition__link {
  display: block;
  text-decoration: none;
}

.card-addition__title {
  margin: 0;
  margin-bottom: 13px;
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: $special-black;
  text-transform: uppercase;
}

.card-addition__info {
  margin: 0;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  color: $text-color;
  line-height: 1;
}

.card-addition__info dd {
  margin: 0;
}
