.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 13px;
  padding-bottom: 15px;

  @media (min-width: $tablet-width) {
    justify-content: start;
  }
}
