.main-header {
  position: relative;
}

.main-header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 13px;
  padding-bottom: 14px;

  @media (min-width: $tablet-width) {
    padding-top: 25px;
    padding-bottom: 25px;
    justify-content: start;
  }

  @media (min-width: $desktop-width) {
    padding-top: 55px;
    padding-bottom: 29px;
  }
}

.main-header__logo-image {
  @media (min-width: $tablet-width) {
    margin-right: 13px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 14px;
  }
}

.main-header__main-nav {
  @media (min-width: $tablet-width) {
    margin-left: auto;
    // position: relative;
    z-index: 5;
  }
}

.main-header a {
  display: block;
}
