.main-nav__list {
  visibility: hidden;
  width: 100vw;
  position: fixed;
  top: 65px;
  left: 100%;
  transition: left 0.4s, visibility 0.4s;

  @media (min-width: $tablet-width) {
    visibility: visible;
    width: fit-content;
    max-width: 480px;
    position: static;
    margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    max-width: 600px;
  }
}

.is-opened.main-nav__list {
  left: 0;
  visibility: visible;
}
