.main-nav__list {
  width: 100%;
  position: absolute;
  top: 66px;
  left: 0;
  transform: translateX(-100vw);
  transition: 0.4s ease;

  @media (min-width: $tablet-width) {
    width: fit-content;
    max-width: 480px;
    position: static;
    transform: translateX(0);
    margin-left: auto;
  }
}

.is-opened.main-nav__list {
  transform: translateX(0);
}
