.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 13px;
  padding-bottom: 15px;

  @media (min-width: $tablet-width) {
    justify-content: start;
  }
}

.main-header__logo-image {
  @media (min-width: $tablet-width) {
    margin-right: 13px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 14px;
  }
}

.main-header__main-nav {
  max-width: 480px;

  @media (min-width: $tablet-width) {
    margin-left: auto;
  }
}
