.nav-list {
  width: 100%;
  position: absolute;
  top: 66px;
  left: 0;
  transform: translateX(-100vw);
  padding: 0;
  list-style: none;
  background-color: $basic-white;
  transition: 0.4s ease;
}

.is-opened.nav-list {
  transform: translateX(0);
  opacity: 1;
}

.nav-list a {
  display: block;
  text-decoration: none;
  color: $basic-black;
  font-family: $secondary-font;
  text-transform: uppercase;
  text-align: center;
}
