.programs {
  padding-top: 20px;
  padding-bottom: 20px;
}

.programs__list {
  @include delete-list-style();

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.programs__item {
  display: grid;
  grid-template-columns: 67px 1fr;
  grid-template-rows: 53px 1fr min-content;
  padding: 21px 33px 18px 20px;
  background-color: $basic-grey;
}

.programs__title {
  text-transform: uppercase;
  grid-column: 2 / 3;

  @include font-titles(24px, 1.54);
}

.programs__description {
  grid-column: 1 / -1;
  margin: 0;
  font-size: 14px;
  line-height: 1.29;
  color: $text-color;
}

.programs__link {
  grid-column: 1 / -1;
}

