.section-title {
  font-family: $secondary-font;
  font-size: 36px;
  color: $basic-white;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-family: $secondary-font;
    font-size: 60px;
    color: $basic-black;
    text-align: left;
  }
}
