.section-title {
  @include font-titles (36px, 1);
  color: $basic-white;
  text-align: center;

  @media (min-width: $tablet-width) {
    @include font-titles (60px, 1);
    color: $basic-black;
    text-align: left;
  }
}
